
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(img/Flat_Game_Background_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.game{
    /* border: 2px solid black; */
    border-radius: 12px;
    width: 75%;
    height: 50%;
    background-color: aliceblue;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.hero{
    width: 100px;
    height: 90px;
    margin-left: 0px;
    position: absolute;
    bottom: 0px;
    left: 7px;
    display: none;
    animation: rrr 3s;
}

@keyframes jum{
    0% {bottom: 0px;}
    30% {bottom: 124px;}
    50% {bottom: 124px;}
    100% {bottom: 0px;}
}
.item{
    width: 100px;
    height: 110px;
    background-color: rgb(14, 27, 204);
position: absolute;
bottom: 0;
right: -109px;
animation:games 2s infinite linear ;
}
@keyframes games {
    0%{ right: -109px;}
    100%{right: 110%;}
}

.start{
    width: 28%;
    border-radius:5px ;
    z-index: 5;
    background-color: brown;
    color: aliceblue;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    /* box-shadow: 2px -2px red; */
}
.start i{
    font-size: 56px;
    margin-top: 20px;
}
.start h2{
    font-size: 56px;
    font-weight: 700;
    margin-top:15px ;
}
.item{
    display: none;
}
.start button{
 border: none;
 margin-top: 15px;
 margin-bottom: 15px;
 padding: 10px 19px ;
 border-radius:5px ;
 font-size: 18px;
}
.start button:hover{
background-color: black;
color: white;
}
.time{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5%;
    left: 44%;
    border-radius: 21px;
    display: none;
}
.time h2{
    padding-top:8px ;
    margin-left:10px ;
    margin-right: 10px;
}
.time .spac{
    padding: 0px 8px;
}
.gameover{
    width: 200px;
    background-color: black;
    color: white;
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 9;
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
    display: none;
}
.gameover span{
    color: white;
    font-size: 24px;
}
.gameover h2{
    font-size: 30px;
    font-weight: 600;
}
.gameover h3{
    font-size: 25px;
    margin-top:13px ;
    cursor: pointer;
}
.gameover h3:hover{
  color: rgb(228, 169, 169);
}